.colorRed {
    color: red; 
}

body {
  font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif !important;
  font-size: 1.3rem !important;
}

.title {
  font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif !important;
}

.blog-post {
  font-size: 1.27em;
  line-height: 1.7;
}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
}

.welcome {
  margin: auto;
  width: 50%;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Med devices */
@media screen and (min-width: 0px) { 
  .overlap {
    margin-top: -30%;
    background-color: white;
    position:absolute;
    z-index:1;
  }
}

/* Large devices */
@media screen and (min-width: 992px) { 
  .overlap {
    margin-top: -45%;
    background-color: white;
    position:absolute;
    z-index:1;
  }

  body {
    font-size: 1.4rem !important;
  }

  .welcome {
    max-width: 80%;
    margin-top: -2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices - For blog/profile page */
@media screen and (max-width: 720px) { 
  .blog-post, h2 {
    font-size: 1.3em;
    line-height: 1.35;
  }
}