if errors !== undefined 
    each val in errors
      .alert.alert-warning.alert-dismissible.fade.show(role='alert')
        h6 #{val.msg}
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') ×
          
if error.length !== 0
  .alert.alert-warning.alert-dismissible.fade.show(role='alert')
    h6 #{error}
    button.close(type='button', data-dismiss='alert', aria-label='Close')
      span(aria-hidden='true') ×  
