extends layout

block content

  h1.mt-4 Dashboard
  p.lead.mb-3 Welcome #{username}
  
  #formComponent
    form(method='POST' action='/users/' + username + '/posts')
      label(for='title') Title
      input#title(v-model='userTitle' type='text', name='title')
      label(for='content') Content
      input#content(v-model='userContent' type='text', name='content')
      button(type='submit') Submit
    
    

