extends layout

block content
    .container-fluid.pt-4.px-4
    .row
        .col-lg.col-lg-offset-4
        
          h1.center Dashboard
          p.center Welcome #{username}

          form.col.mx-5.lead(method='POST', action='/users/' + username + '/posts')
            label(for='title') Title
            input#title(v-model='userTitle' type='text', name='title')
            textarea(v-model='userContent' name='content' cols='200' rows='20')
            input.button(type='submit' value='Submit')
    script(src='https://unpkg.com/vue/dist/vue.js')
    script(src='http://js.nicedit.com/nicEdit-latest.js', type='text/javascript')
    script(type='text/javascript').
      bkLib.onDomLoaded(nicEditors.allTextAreas);

