extends layout

block content
    .row
        .col-sm-1
        .col-sm-10
          h1.center Dashboard
          p.center Welcome #{username}
          form.mx-5.lead(method='POST', action='/users/' + username + '/posts')
            label(for='title') Post title
            input.form-control.mb-3(v-model='userTitle' name='title' 
            type='text' aria-label='Default' aria-describedby='inputGroup-sizing-default')
            p Body
            .md-form
                
                textarea#form7.md-textarea.form-control(rows='20' v-model='userContent' name='content')
            button.btn.btn-primary.btn-lg.mt-3(type='submit' value='Submit' style="float: right;") Create post


    script(src='https://unpkg.com/vue/dist/vue.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
    link(href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css', rel='stylesheet')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js')


    

