extends layout

block content
    .container-fluid.pt-4.px-4
    .row
        .col-lg-3.ml-5.py-2
            p profile information
        .col-lg
            #posts
                posts(name=username, v-for='post in posts' v-bind:post='post')
    script. 
        username = "#{username}"

    